* {
    margin:0;
    padding:0;
}

html, body {
    width:100%;
    height:100%;
    /* overflow: scroll; */
}

body {
    margin: 0;
    height:100%;
    font-family: "spartan";
    color: black;
    font-size: 14px;
    overflow-y: visible;
    display:block;
}

input {
    border-radius:20px;
    height:100%;
    align-content:center;
    margin-left:3em;
    margin-top:2em;
    width:75%;
    padding:0.5em;
    border:none;
    background:#e5e5e5;
}

.goalNavbar {
    width:100%;
    height:100%;
    margin-left:1.5em;
    margin-top:2em;
    padding-bottom:6em;
}

.goalNavbar ul li {
    display:block;
}

.goalNavbar button {
    width:90%;
    height:100%;
    border:none;
    border-radius:10px;
    font-size:18px;
    letter-spacing:0.1em;
    font-family:"spartan";
    font-weight:600px;
}

.allGoal {
    padding:1em;
}

.reviewGoal, .progressGoal, .openGoal, .developGoal, .completeGoal {
    padding:2em;
}

.addButton {
    text-align:center;
    margin-right:3em;
    margin-top:1em;
}

.addButton .addingGoal {
    width:30%;
    background:white;
    border:1px solid black;
    height:auto;
    padding:0.5em;
}