* {
  margin: 0;
  padding: 0;
}

html, body {
  width:100%;
  height:100%;
  /* overflow: scroll; */
}

.Home body {
  margin: 0;
  font-family: "spartan";
  background: white;
  color: black;
  font-size: 14px;
  line-height: 0.1;
  overflow-y: scroll;
  display:block;
  overflow: scroll;
}

.homescreen {
  width:100%;
  /* height:100%; */
}

.homeSearch input[type=text]{
  padding:1em;
  margin:1em 0 0 3em;
  border:none;
  font-size:12px;
  background: rgba(196, 196, 196, 0.33);
  border-radius: 20px;
  width:70%;
}

.homeContainer {
  width:100%;
  height:auto;
  display:inline-block;
}

.homeVariable {
  background:#e5e5e5;
  width:50%;
  height:auto;
  padding:2em;
  margin:2em;
}

.homeVariable ul li {
  display:block;
  line-height:30px;
}

.homeVariable time {
  font-family:"abhaya libre";
  font-size:72px;
  text-align:left;
}

.homeDay {
  font-size:24px;
  font-family:"abhaya libre";
  font-weight:normal;
}

.homeSections {
  background:#fffbdb;
  width:100%;
  height:fit-content;
  margin-top:-28%;
  border-radius:30px;
  padding-bottom: 28%;
}

.homeSide {
  width:auto;
  height:auto;
  float:right;
  margin-top:3em;
}

.homeSide ul li {
  display:block;
  line-height:30px;
  margin:1em 1.5em 0 0;
}

.homeGoals .homeNumber {
  background:#ff9797;
  color:black;
  font-size:20px;
  border-radius:50%;
  width:70%;
  height:10%;
  padding:0.3em;
  text-align:center;
}
.homeTasks .homeNumber {
  background:#e5e5e5;
  color:black;
  font-size:20px;
  border-radius:50%;
  width:70%;
  height:10%;
  padding:0.3em;
  text-align:Center;
}
.homeEvents .homeNumber {
  background:#9eb4df;
  color:black;
  font-size:20px;
  border-radius:50%;
  width:70%;
  height:10%;
  padding:0.3em;
  text-align:Center;
}

.homeGoals p, .homeTasks p, .homeEvents p {
  font-size:12px;
  text-align:right;
}

.homeCalendar {
  float:left;
  margin:8em 0 0 0.5em;
  width:70%;
  height:auto;
  background:white;
  border-radius:30px;
  padding:1em 1em 0 1em;
}

.homeWeek {
  margin:0;
}

.homeWeek ul li {
  display:inline-block;
  width:14%;
  color:gray;
  text-align: center;
  font-size:10px;
  vertical-align: top;
  line-height:20px;
}

.homeWeek ul li a {
  display:block;
  text-decoration:none;
  font-size:12px;
}

.homeWeekdays {
  padding: 10px 0;
  margin:0;
}

.homeWeekdays ul li {
  list-style: none;
  display:inline-block;
  width:14%;
  text-align:center;
  font-size:12px;
  color:black;
  line-height: 40px;
}

.homeSchedule {
  background:#e5e5e5;
  width:100%;
  height:auto;
  margin-top:-20%;
  padding-bottom: 8%;
  border-radius: 30px 30px 0 0;
  display:inline-block;
}

.homeSchedule h3 {
  font-size:20px;
  font-family:"abhaya libre";
  font-weight:normal;
  padding:1em;
  margin-top: 2%;
}

.homeButtons {
  display:inline-block;
}

.homeButtons ul li {
  display:inline-block;
  text-align:center;
}

.homeButtons .homeDaily {
  background: #CCDED6;
  border-radius: 20px;
  padding:2em;
  margin:0 1em 0 1em;
  width:90%;
  text-align:bottom;
  line-height: 50px;
  border:none;
  font-weight: 600;
}
.homeButtons .homeWeekly {
  background: #AAD3C0;
  border-radius: 20px;
  padding:2em;
  text-align:bottom;
  margin:1em;
  line-height: 50px;
  border:none;
  font-weight: 600;
}
.homeButtons .homeMonthly {
  background: #9CC3B0;
  border-radius: 20px;
  width:95%;
  padding:2em;
  text-align:center;
  line-height: 50px;
  border:none;
  font-weight: 600;
}
/*# sourceMappingURL=home.css.map */