* {
  margin: 0;
  padding: 0;
}

.Health body {
  background: white;
  font-family: "spartan";
  height: 800px;
  width:375px;
}

.healthHeader {
  width: 100%;
  position: fixed;
  padding:1em;
}

.healthHeader ul li {
  display: inline-block;
  margin: 0 0 2em 1em;
}

.healthHeader ul li a {
  font-size: 20px;
  letter-spacing: 0.2em;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.healthHeader ul li img.heart {
  display: inline;
  vertical-align: middle;
}

.healthHeader ul li img.avatar {
  right: 0;
  top: 0;
  padding: 0.8em 2.8em 0 0;
  position: absolute;
}

.healthContainer {
  background: #e3edff;
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0 0;
  margin-top:6em;
}

.healthContainer ul li {
  margin: 1em;
  list-style: none;
  position: relative;
  display: inline;
}

.healthContainer .period {
  background: white;
  width: 300px;
  height: 185px;
  border-radius: 20px;
  margin-left: 2em;
}

.period a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 3em;
  line-height: 50px;
}

.periodButton_container {
  background: #e5e5e5;
  width: 210px;
  height: 120px;
  border-radius: 20px;
  margin-left: 3em;
}

.periodButton_container p {
  padding: 1em 1em 0.5em 1em;
  font-size:14px;
}

.periodButton_container h2 {
  color: red;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.periodButton_container button {
  width: 160px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  margin-left: 2em;
  background: white;
  margin-top: 0.3em;
}

.healthContainer .meal {
  background: white;
  width: 300px;
  height: 185px;
  border-radius: 20px;
  margin-left: 2em;
}

.meal h3 {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 3.5em;
  line-height: 50px;
  font-weight: normal;
}

.mealButton_container {
  background: #e5e5e5;
  width: 260px;
  height: 125px;
  border-radius: 20px;
  margin-left: 1.3em;
  position: relative;
  padding-top: 3px;
}

.mealButton_container ul {
  display: block;
  list-style: none;
  margin-left: 1.5em;
}

.mealButton_container ul li {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding-top: 1em;
  vertical-align: top;
}

.mealButton_container .breakfast {
  display: block;
  color: black;
  text-align: left;
}

.breakfast .cal {
  background: #ffc997;
  width: 60px;
  height: 45px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
}

.cal a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}

.mealButton_container .lunch {
  display: block;
  color: black;
  text-align: center;
  margin-left:0.5em;
}

.lunch .cal2 {
  background: #ffc997;
  width: 60px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
}

.cal2 a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}

.mealButton_container .dinnerContainer {
  display: block;
  color: black;
  text-align: center;
  margin-left: 0.7em;
}

.dinnerContainer .cal3 {
  background: #ffc997;
  width: 60px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
}

.cal3 a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.mealButton_container button {
  width: 160px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  margin-left: 4em;
  background: white;
  margin-top: 0.3em;
}

.healthContainer .activity {
  background: white;
  width: 300px;
  height: 185px;
  border-radius: 20px;
  margin-left: 2em;
}

.activity h3 {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 3.2em;
  line-height: 50px;
  font-weight: normal;
}

.activity .activityButton_container3 {
  background: #e5e5e5;
  width: 280px;
  height: 120px;
  border-radius: 20px;
  margin-left: 0.7em;
  position: relative;
  padding-top: 3px;
}

.activityButton_container3 ul {
  position: relative;
  margin-left:0.5em;
}

.activityButton_container3 ul li {
  margin: 0.4em;
  padding: 0 0.5em 1em 0.5em;
  background: white;
  width: 70px;
  height: 90px;
  border-radius: 5px;
}

.activityButton_container3 ul li img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 1.5em;
  vertical-align: middle;
  /* padding: 0 0 1em 0; */
}

.activityButton_container3 button {
  width: 160px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  margin-left: 4em;
  background: white;
  margin-top: 0.3em;
}
/*# sourceMappingURL=health.css.map */